.btn {
    background-color: yellow;
    color: black;
    font-weight: bold;
    position: relative;
    top: 135px;
    left: 120px;
    border: 2px solid white;
}
.btn:hover {
    background-color: red;
}
.btn-order-now {
    background-color: yellow;
    position: relative;
    top: 260px;
    left: 130px;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    padding: 4px;
}
.btn-order-now:hover {
    background-color: red;
}