* {
    margin: 0;
    padding: 0;
}

.up {
    padding: 15px;
}

.up h1 {
    color: red;
    text-align: center;
}
.up h2 {
    text-align: center;
}

.down {
    background-color: gray;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.down img {
    height: 40px;
    width: 50px;
}
.down ul {
    display: flex;
}
.down ul li {
    list-style: none;
    margin: 12px;
}
.down ul li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.down ul li a:hover {
    background-color: red;
}

.container1 {
    background-image: url('https://source.unsplash.com/1500x1200/?food delivery');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container1 h1 {
    padding: 160px 0px 40px 0px;
}
.container1 button {
    border-radius: 15px;
    padding: 5px;
    background-color: yellow;
    border: none;
}
.container1 button:hover {
    background-color: red;
    cursor: pointer;
}

.catalog {
    display: flex;
    margin-top: 60px;
}
.catalog-item1 {
    background-image: url('https://source.unsplash.com/370x280/?chef');
    height: 20vh;
    width: 20vw;
    border-radius: 25px;
    margin-right: 120px;
}
.catalog-item2 {
    background-image: url('https://source.unsplash.com/370x280/?pizza specials');
    height: 20vh;
    width: 20vw;
    border-radius: 25px;
}

main h1 {
    text-align: center;
    padding-top: 10px;
}

.container2 {
    padding: 60px;
    display: grid;
    grid-template-columns: 480px 480px 480px;
}
.item1 {
    background-image: url('https://source.unsplash.com/370x290/?pizza');
    border-radius: 15px;
    height: 35vh;
    width: 25vw;
}
.item2 {
    background-image: url('https://source.unsplash.com/370x290/?cheese');
    border-radius: 15px;    
    height: 35vh;
    width: 25vw;
}
.item3 {
    background-image: url('https://source.unsplash.com/370x290/?food');
    border-radius: 15px;
    height: 35vh;
    width: 25vw;
}
footer p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
