* {
    margin: 0;
    padding: 0;
}
.parallex-1 {
    width: 100vw;
    height: 100vh;
    background: url('/ParallexWebpage/image/back22.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.parallex-1 h1 {
    width: 232px;
    padding: 8px 15px;
    background-color: black;
    color: white;
    margin: auto;
    position: relative;
    top: 25vh;
}
.para-1 {
    background-color: black;
    color: white;
    padding: 50px;
    position: relative;
    top: 557px;
    font-size: 16px;
}

.parallex-2 {
    width: 100vw;
    height: 100vh;
    background: url('/ParallexWebpage/image/back22.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.parallex-2 h1 {
    width: 166px;
    padding: 8px 15px;
    background-color: white;
    color: black;
    margin: auto;
    position: relative;
    top: 25vh;
}
.para-2 {
    background-color: black;
    color: white;
    padding: 50px;
    position: relative;
    top: 587px;
    font-size: 19px;
}
.para-2 p {
    text-align: center;
}

.parallex-3 {
    width: 100vw;
    height: 100vh;
    background: url('/ParallexWebpage/image/back22.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.parallex-3 h1 {
    width: 265px;
    padding: 8px 15px;
    background-color: black;
    color: white;
    margin: auto;
    position: relative;
    top: 25vh;
}
.para-3 {
    background-color: black;
    color: white;
    padding: 50px;
    position: relative;
    top: 618px;
    font-size: 19px;
}
.para-3 p {
    text-align: center;
}